@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --color-pastel-orange: #e09a85;
    --color-light-orange: #f8f4eb;
    --color-orange-ish: #c7674f;
    --font-roboto: "Roboto", sans-serif; 
}

body {
margin: 0;
padding: 0;
font-family: var(--font-roboto), sans-serif;

}

