@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    min-height: 100vh;
    padding: 0 3rem 0rem 3rem;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    color: white;
    background-image: url('/src/assets/pexels-luis-kuthe-4695929.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
