@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --color-dark-azure: #09151d;
    --font-roboto: "Roboto", sans-serif; 
}

body {
margin: 0;
padding: 0;
font-family: var(--font-roboto), sans-serif;
color: black;

}

